# macOS
.DS_Store

# Node
node_modules/

# Env files
.env
.env.*

# Logs
*.log

# VS Code
.vscode/

# JetBrains
.idea/
# Terraform working directory
.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Terraform backup
*.backup

# Variable files
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration
.terraformrc
terraform.rc